In [6]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.951602  0.122205 -0.395249  0.461945
2013-01-02  0.099897 -0.828737 -1.110162 -2.421882
2013-01-03  0.227530 -1.294159  0.053791 -0.690991
2013-01-04  1.611484 -1.150989  0.714326 -0.177143
2013-01-05  1.969862  0.975966  0.556246  0.454528
2013-01-06  0.398111  1.891056  0.611969  0.164102

In [14]:
def add_field(s):
    d = s.to_dict()
    d['t'] = pd.Timestamp(2019,3,2,10)
    print(d)
    return pd.Series(d)

df.apply(add_field, axis='columns')

{'A': 0.9516024894117793, 'B': 0.12220460766709554, 'C': -0.3952486762206766, 'D': 0.4619446934834398, 't': Timestamp('2019-03-02 10:00:00')}
{'A': 0.9516024894117793, 'B': 0.12220460766709554, 'C': -0.3952486762206766, 'D': 0.4619446934834398, 't': Timestamp('2019-03-02 10:00:00')}
{'A': 0.09989733598759253, 'B': -0.8287366608754702, 'C': -1.1101616389011688, 'D': -2.4218823415642716, 't': Timestamp('2019-03-02 10:00:00')}
{'A': 0.22752963609568824, 'B': -1.294158765972516, 'C': 0.053791032387599774, 'D': -0.6909912926037075, 't': Timestamp('2019-03-02 10:00:00')}
{'A': 1.6114844602381493, 'B': -1.1509892025431263, 'C': 0.7143259509774934, 'D': -0.17714344187843897, 't': Timestamp('2019-03-02 10:00:00')}
{'A': 1.9698621430892262, 'B': 0.9759662413414062, 'C': 0.5562455604476864, 'D': 0.45452849225657016, 't': Timestamp('2019-03-02 10:00:00')}
{'A': 0.3981105529551672, 'B': 1.8910560730802297, 'C': 0.6119687972443657, 'D': 0.1641016270121231, 't': Timestamp('2019-03-02 10:00:00')}

                   A         B         C         D                   t
2013-01-01  0.951602  0.122205 -0.395249  0.461945 2019-03-02 10:00:00
2013-01-02  0.099897 -0.828737 -1.110162 -2.421882 2019-03-02 10:00:00
2013-01-03  0.227530 -1.294159  0.053791 -0.690991 2019-03-02 10:00:00
2013-01-04  1.611484 -1.150989  0.714326 -0.177143 2019-03-02 10:00:00
2013-01-05  1.969862  0.975966  0.556246  0.454528 2019-03-02 10:00:00
2013-01-06  0.398111  1.891056  0.611969  0.164102 2019-03-02 10:00:00

In [7]:
df[(df.A>0) & (df.B>0)]  #filter

                   A         B         C         D
2013-01-01  0.497005  0.544002 -1.094285 -1.317883
2013-01-04  0.434282  0.169674  0.458918 -0.746347

In [18]:
from sqlalchemy.sql import func
print(func.__getattr__('count')())

count(*)

In [26]:
from sqlalchemy import Table, Column
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:root@localhost:5432/postgres', echo=True)

In [62]:
from sqlalchemy import select, and_, text, String
from sqlalchemy.sql import table, literal_column,func

s = select(['e','f',literal_column('b'),literal_column("'2019-3-2'::timestamp").label('d'),func.__getattr__('count')(literal_column('a')).label('a')])\
        .where((literal_column("b")>3) & (literal_column("c")<5))\
        .group_by(literal_column("b"),literal_column("d")).select_from(table('users'))
print(s)

SELECT e, f, b, '2019-3-2'::timestamp AS d, count(a) AS a
FROM users
WHERE b > :b_1 AND c < :c_1 GROUP BY b, d

/Users/zengqingbo/project/.direnv/python-3.6.5/lib/python3.6/site-packages/sqlalchemy/sql/elements.py:4360: SAWarning: Textual column expression 'e' should be explicitly declared with text('e'), or use column('e') for more specificity (this warning may be suppressed after 10 occurrences)
  if guess_is_literal else "column"
/Users/zengqingbo/project/.direnv/python-3.6.5/lib/python3.6/site-packages/sqlalchemy/sql/elements.py:4360: SAWarning: Textual column expression 'f' should be explicitly declared with text('f'), or use column('f') for more specificity (this warning may be suppressed after 10 occurrences)
  if guess_is_literal else "column"