In [1]:
import pandas as pd

df = pd.read_csv('QLR201902071000-merged.csv')
df

      交易序号          交易时间 交易网点 操作员编号  客户id 客户名称        交易类型  交易金额
0  tac-001  201802071002  QLR  op01  cu01   张三     deposit  1000
1  tac-002  201802071004  QLR  op01  cu01   张三     deposit  5000
2  tac-003  201802071006  QLR  op01  cu02   李四  Withdrawal  2000
3  tac-004  201802071008  QLR  op01  cu02   李四  Withdrawal  3000
4  tac-005  201802071010  QLR  op02  cu03   王五     deposit  1000
5  tac-006  201802071011  QLR  op02  cu03   王五     deposit  5000

In [6]:
df.groupby(['交易网点','交易类型']).agg({'交易金额':'max'}).to_csv()

'交易网点,交易类型,交易金额\nQLR,Withdrawal,3000\nQLR,deposit,5000\n'